/* Alinhamento dos botões de ação na mesma linha */
.action-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px; /* Espaçamento entre os ícones */
}

.action-icons button {
  padding: 0; /* Retira o padding extra do botão */
  font-size: 20px; /* Ajusta o tamanho dos ícones */
}

/* Ajustando os botões de editar e excluir para parecerem mais compactos e próximos */
.search-input {
  width: 70%; /* Ajuste para o input de pesquisa não ficar tão largo */
}

.btn-cadastrar {
  width: 25%; /* Ajuste para o botão de adicionar usuário não ficar muito largo */
}

.modal-footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.cancel-btn, .confirm-btn {
  width: 48%;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  border: none; /* Remove qualquer borda que o botão tenha */
}

.cancel-btn {
  background-color: #6c757d; /* Cor para o Cancelar */
  color: white;
}

.confirm-btn {
  background-color: #dc3545; /* Cor para o Confirmar Exclusão */
  color: white;
}

.cancel-btn:hover {
  background-color: #5a6268; /* Cor do hover para o Cancelar */
}

.confirm-btn:hover {
  background-color: #c82333; /* Cor do hover para Confirmar Exclusão */
}
