/* src/components/Sidebar/Sidebar.css */

/* Menu Lateral */
.side-nav {
  width: 257px; /* Largura do menu lateral */
  background-color: #286347;
  color: white;
  padding: 20px;
  min-height: 100vh; /* Altura do menu lateral */
}

.gradient-text {
  font-size: 14px;
  letter-spacing: 4px;
  padding-bottom: 35px;
  width: 100%;
  font-weight: bold;
  color: white;
  text-align: center;
  border-bottom: 1px solid gray;
}

.side-nav ul {
  list-style-type: none;
  padding: 0;
}

.side-nav li {
  margin: 10px 0;
}

.side-nav li a {
  width: 220px;
  height: 53px;
  padding-left: 10px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  text-decoration: none;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 14px;
  font-weight: bold;
  transition: color 0.3s;
}

/* Item ativo */
.side-nav li a.active {
  background-color: #1d4734;
  color: white;
}

/* Ícones */
.side-nav li a svg {
  margin-right: 10px;
  font-size: 20px;
}

/* Hover */
.side-nav li a:hover {
  background-color: #36e292;
  color: #fff;
}

/* Categoria de navegação */
.nav-category-title {
  color: white;
  font-size: 16px;
  padding-left: 10px;
  letter-spacing: 1px;
  font-weight: bold;
  margin: 30px 0 10px;
  text-transform: uppercase;
  font-family: 'Plus Jakarta Sans', sans-serif;
  padding-bottom: 5px;
}

/* Estilo do conteúdo */
.content {
  width: 100%;
  padding-left: 20px;
}

.title {
  margin-left: 30px;
  font-size: 18px;
  font-weight: 600;
  font-family: 'Plus Jakarta Sans', sans-serif;
}
