/* Reset global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Corpo da página */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  background-color: #f7f7f7;
}

.login-page {
  display: flex;
  height: 100vh;
}

.left-side {
  background-color: #1C4532; /* Fundo azul escuro */
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  text-align: center;
  padding: 40px;
}

.left-side h1 {
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 10px;
}

.left-side p {
  font-size: 18px;
}

.right-side {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-form {
  width: 100%;
  max-width: 380px;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.login-form h2 {
  color: #1C4532;
  font-size: 32px;
  margin-bottom: 20px;
}

.sub-title {
  color: #777;
  margin-bottom: 30px;
}

.input-group {
  position: relative;
  margin-bottom: 25px;
  text-align: left;
}

.input-group label {
  font-size: 14px;
  color: #555;
  margin-bottom: 5px;
}

.input-wrapper {
  position: relative;
}

.input-group input {
  width: 100%;
  padding: 14px 20px;
  padding-left: 40px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  background-color: #f9f9f9;
  transition: border-color 0.3s ease;
}

.input-group input:focus {
  border-color: #1C4532;
}

.input-group .icon {
  position: absolute;
  left: 12px;
  top: 26px;
  color: #1C4532;
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

.remember-me {
  font-size: 14px;
}

.forgot-password {
  font-size: 14px;
  color: #1f4c75;
  text-decoration: none;
}

.forgot-password:hover {
  text-decoration: underline;
}

button {
  width: 100%;
  padding: 14px;
  background-color: #1C4532;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #1C4532;
}

button:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

.social-login button {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  color: white;
  font-size: 14px;
  border-radius: 8px;
}

.google {
  background-color: #4285F4;
}

.facebook {
  background-color: #1877F2;
}

.social-login button:hover {
  opacity: 0.8;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 10px;
  display: inline-block;
}
